<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pancat.fanrong"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!-- 请求一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="getui.permission.GetuiService"/>
    
        <!-- 百度云推送 额外需要 的权限 -->  
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    
    <!-- 自定义个推权限 -->
    <permission
        android:name="getui.permission.GetuiService"
        android:protectionLevel="normal" >
    </permission>
    
    <!-- 百度云所要求 android:name-->
    <application
        android:name="com.pancat.fanrong.MainApplication"  
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:persistent="true"><!-- 消息推持久连接 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" ><!-- 个推运行模式singleTop 不改应该没影响，百度云是singleTask-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.OrderActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.ServiceActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.MeActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.MomentActivity"
            android:label="@string/title_activity_moment" >
        </activity>
        <activity
            android:name=".activity.AdvertiseActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activity.ProductViewFragmentActivity" 
            android:theme="@style/Theme.AppCompat.Light">
             <intent-filter >
		        <action android:name="android.intent.action.SEARCH"/>
		    </intent-filter>
		    <meta-data android:name="android.app.searchable" 
                   android:resource="@xml/searchable"/> 
        </activity>
        
        <!-- 用于搜索对话框 -->
		<activity
		    android:name=".activity.ProductSearchActivity" 
		    android:theme="@style/Theme.AppCompat.Light">
		     <meta-data android:name="android.app.default_searchable" 
                   android:value=".activity.ProductViewFragmentActivity"/>
		</activity>
		<activity
		    android:name=".activity.ProductDetailViewFragmentActivity">
		</activity>
		    
        <!--个推SDK配置开始-->
         <receiver
            android:name="com.pancat.fanrong.receiver.PushMsgGeTuiReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.QMwFHj377d7Nm76Lti0ZU7" />
            </intent-filter>
        </receiver>
        
        <!-- 配置SDK核心服务 -->
         <service
            android:name="com.igexin.sdk.PushService"
            android:process=":pushservice"
            android:exported="true"
            android:label="NotificationCenter" >
        </service>
        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:process=":pushservice"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
         
        <service android:name="com.igexin.download.DownloadService" android:process=":pushservice" />
        <receiver android:name="com.igexin.download.DownloadReceiver"> 
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
            android:process=":pushservice"
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.pancat.fanrong"    />
            <!-- android:authorities="downloads.第三方包名" -->
         
        <activity android:name="com.igexin.getuiext.activity.GetuiExtActivity" 
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false" />
         
        <receiver android:name="com.igexin.getuiext.service.PayloadReceiver" android:exported="false" >
            <intent-filter>
                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->            
                <action android:name="com.igexin.sdk.action.Y99EnrVe6o6kOoYsymqEK7" />
            </intent-filter>
        </receiver>
         
        <service android:name="com.igexin.getuiext.service.GetuiExtService" android:process=":pushservice" />
         <!-- 个推SDK配置结束 -->
         
         	<!--配置第三方应用参数属性-->
		<meta-data
		    android:name="PUSH_APPID"
		    android:value="Y99EnrVe6o6kOoYsymqEK7"/><!--替换为第三方应用的APPID-->
		<meta-data
		    android:name="PUSH_APPKEY"
		    android:value="4JT3iGVBvW9XVY7c3tbCx1"/><!--替换为第三方应用的APPKEY-->
		<meta-data
		    android:name="PUSH_APPSECRET"
		    android:value="L3zM4z1CUYAijxsN9bXNW3"/><!--替换为第三方应用的APPSECRET-->
		<meta-data
		    android:name="PUSH_GROUPID"
		    android:value=""/>
		
		<!-- 百度云推送配置 -->
		 <!-- 自定义消息处理-->
        <receiver android:name="com.pancat.fanrong.receiver.PushMsgBaiDuReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
                
        <!-- push必须的receviver和service声明 -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>                   
        </receiver>
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1"  >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        
        <meta-data android:name="api_key" android:value="9Ay3feL878KZY88PLChUlEOk" />
        <!-- 百度云推送配置结束 -->
        
    </application>

</manifest>